.ui.card.card-wrapper,
.ui.card.card-wrapper:first-child{
  margin: 5px;
}

.truncated {
  overflow: hidden;
  position: relative;
  line-height: 16px;
  max-height: 64px;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.truncated:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.truncated:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-later {
  transform: translateX(12px);
}
